model.external.riksdagen.votering.impl/src/main/xsd/votering.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
	xmlns:ballot="http://votering.riksdagen.external.model.cia.hack23.com/impl"
	jaxb:extensionBindingPrefixes="xjc hj orm" jaxb:version="2.0"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	targetNamespace="http://votering.riksdagen.external.model.cia.hack23.com/impl">

	<xsd:element name="votering" type="ballot:BallotContainer" />

	<xsd:complexType name="BallotContainer">
		<xsd:sequence>
			<xsd:element name="dokvotering" type="ballot:BallotDocumentData">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="ballotDocumentData" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokument" type="ballot:BallotDocumentElement">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="ballotDocumentElement" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


		<xsd:complexType name="BallotDocumentElement">
		<xsd:sequence>
			<xsd:element name="hangar_id" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="hangar_id" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dok_id" type="xsd:string" >
			<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="doc_id" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="htmlformat" type="xsd:string"/>
			<xsd:element name="relaterat_id" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="related_id" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="source" type="xsd:string"/>
			<xsd:element name="sourceid" type="xsd:string">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="rm" type="xsd:string" />
			<xsd:element name="beteckning" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="label" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="typ" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="elementType" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="doktyp" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="documentType" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subtyp" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="subType" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="status" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="status" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="tempbeteckning" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="tempLabel" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="organ" type="xsd:NCName">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="org" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="nummer" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="numberValue" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="slutnummer" type="xsd:integer">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="endNumberValue" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="titel" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="title" />
						<hj:basic>
							<orm:column length="65536" />
						</hj:basic>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subtitel" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="subTitle" />
						<hj:basic>
							<orm:column length="65536" />
						</hj:basic>
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="datum" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="createdDate" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="publicerad" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="madePublicDate" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="systemdatum" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="systemDate" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokument_url_text" type="xsd:anyURI">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="documentUrlText" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokument_url_html" type="xsd:anyURI">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="documentUrlHtml" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="dokumentstatus_url_xml" type="xsd:anyURI">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="documentStatusUrlXml" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="utskottsforslag_url_xml" type="xsd:anyURI">
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="committeeReportUrlXml" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="BallotDocumentData">
		<xsd:sequence>
			<xsd:element maxOccurs="unbounded" name="votering" type="ballot:VoteDataDto" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="voteDataList" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="VoteDataDto">
		<xsd:sequence>
			<xsd:element name="avser" type="ballot:VoteIssueType" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="concern" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="banknummer" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="bankNumber" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="beteckning" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="label" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="efternamn" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="lastName" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fodd" type="xsd:int" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="bornYear" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fornamn" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="firstName" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="intressent_id" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="intressentId" />
						<hj:id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="iort" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="place" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kon" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="gender" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="namn" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="fullName" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parti" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="party" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="punkt" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="issue" />
						<hj:id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="rm" type="xsd:string" />
			<xsd:element name="rost" type="ballot:VoteDecision" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="vote" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="votering" type="ballot:BallotType" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="ballotType" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="valkrets" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="electoralRegion" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valkretsnummer" type="xsd:integer" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="electoralRegionNumber" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="votering_id" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="ballotId" />
						<hj:id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datum" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="voteDate" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

		</xsd:sequence>
	</xsd:complexType>




	<xsd:complexType name="VoteData">
		<xsd:sequence>
			<xsd:element name="banknummer" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="bankNumber" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="beteckning" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="label" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="efternamn" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="lastName" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fodd" type="xsd:int" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="bornYear" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="fornamn" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="firstName" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="iort" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="place" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="kon" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="gender" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="namn" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="fullName" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="datum" type="xsd:date" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="voteDate" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="parti" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="party" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!--
			<xsd:element name="punkt" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="issue" />
						<hj:id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>-->
			<xsd:element name="rm" type="xsd:string" />
			<xsd:element name="rost" type="ballot:VoteDecision" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="vote" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="votering" type="ballot:BallotType" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="ballotType" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="valkrets" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="electoralRegion" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="valkretsnummer" type="xsd:integer" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="electoralRegionNumber" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<!--
			<xsd:element name="votering_id" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="ballotId" />
						<hj:id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			-->

			 <xsd:element name="embeddedId" type="ballot:VoteDataEmbeddedId">
                                <xsd:annotation>
                                        <xsd:appinfo>
                                                <hj:embedded-id/>
                                        </xsd:appinfo>
                                </xsd:annotation>
             </xsd:element>
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="VoteDataEmbeddedId">
                <xsd:annotation>
                        <xsd:appinfo>
                                <hj:embeddable/>
                        </xsd:appinfo>
                </xsd:annotation>
                <xsd:sequence>
                <xsd:element name="punkt" type="xsd:string" >
					<xsd:annotation>
						<xsd:documentation>
							We have customized the generated property name
							here.
							</xsd:documentation>
						<xsd:appinfo>
							<jaxb:property name="issue" />
						</xsd:appinfo>
					</xsd:annotation>
				</xsd:element>

                        <xsd:element name="votering_id" type="xsd:string">
						<xsd:annotation>
							<xsd:documentation>
								We have customized the generated property name
								here.
								</xsd:documentation>
							<xsd:appinfo>
								<jaxb:property name="ballotId" />
							</xsd:appinfo>
						</xsd:annotation>
					</xsd:element>

					<xsd:element name="intressent_id" type="xsd:string" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="intressentId" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>

			<xsd:element name="avser" type="ballot:VoteIssueType" >
				<xsd:annotation>
					<xsd:documentation>
						We have customized the generated property name
						here.
						</xsd:documentation>
					<xsd:appinfo>
						<jaxb:property name="concern" />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>


            </xsd:sequence>
   </xsd:complexType>


	<xsd:simpleType name="SexType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="man" />
			<xsd:enumeration value="kvinna" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VoteDecision">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Fr책nvarande" />
			<xsd:enumeration value="Ja" />
			<xsd:enumeration value="Nej" />
			<xsd:enumeration value="Avst책r" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="VoteIssueType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="sakfr책gan" />
			<xsd:enumeration value="motivfr책gan" />
		</xsd:restriction>
	</xsd:simpleType>
	<xsd:simpleType name="BallotType">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="huvud" />
		</xsd:restriction>
	</xsd:simpleType>
</xsd:schema>
