model.internal.application.user.impl/src/main/xsd/data.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:jaxb="http://java.sun.com/xml/ns/jaxb" xmlns:hj="http://hyperjaxb3.jvnet.org/ejb/schemas/customizations"
	xmlns:xjc="http://java.sun.com/xml/ns/jaxb/xjc" xmlns:orm="http://java.sun.com/xml/ns/persistence/orm"
	xmlns:data="http://data.application.internal.model.cia.hack23.com/impl"
	jaxb:extensionBindingPrefixes="xjc hj orm" jaxb:version="2.0"
	elementFormDefault="unqualified" attributeFormDefault="unqualified"
	targetNamespace="http://data.application.internal.model.cia.hack23.com/impl">

	<xsd:simpleType name="DataAgentTarget">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Model_External_Worldbank" />
			<xsd:enumeration value="Model_External_Riksdagen" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="ValDataSources">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Parties" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="WorldBankDataSources">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Countries" />
			<xsd:enumeration value="Data" />
			<xsd:enumeration value="Indicators" />
			<xsd:enumeration value="Topic" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:simpleType name="RiksdagenDataSources">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Document_List" />
			<xsd:enumeration value="Document_Status" />
			<xsd:enumeration value="Document_Content" />
			<xsd:enumeration value="Persons" />
			<xsd:enumeration value="Votes" />
			<xsd:enumeration value="Ballot_List" />
			<xsd:enumeration value="Committee_Proposals" />
		</xsd:restriction>
	</xsd:simpleType>


	<xsd:simpleType name="DataAgentOperation">
		<xsd:restriction base="xsd:string">
			<xsd:enumeration value="Import" />
		</xsd:restriction>
	</xsd:simpleType>

	<xsd:complexType name="DataAgentWorkOrder">
		<xsd:sequence>
			<xsd:element name="target" type="data:DataAgentTarget"
				minOccurs="0" />
			<xsd:element name="operation" type="data:DataAgentOperation"
				minOccurs="0" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="WorldbankIndicatorDataCountrySummaryEmbeddedId">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:embeddable />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="indicator_id" type="xsd:string" />
			<xsd:element name="country_id" type="xsd:string" />

		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewWorldbankIndicatorDataCountrySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_worldbank_indicator_data_country_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:WorldbankIndicatorDataCountrySummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="indicator_name" type="xsd:string" />
			<xsd:element name="source_note" type="xsd:string" />
			<xsd:element name="source_value" type="xsd:string" />
			<xsd:element name="source_organization" type="xsd:string" />
			<xsd:element name="start_year" type="xsd:int" nillable="true" />
			<xsd:element name="end_year" type="xsd:int" nillable="true"/>
			<xsd:element name="data_point" type="xsd:long" />
			<xsd:element name="topics" type="xsd:string"/>
		</xsd:sequence>
	</xsd:complexType>



	<xsd:complexType
		name="ApplicationActionEventPagePeriodSummaryEmbeddedId">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:embeddable />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="created_date" type="xsd:date" />
			<xsd:element name="page" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ViewApplicationActionEventPageHourlySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_hourly_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPagePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageDailySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_daily_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPagePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageWeeklySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_weekly_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPagePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageAnnualSummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_annual_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPagePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType
		name="ApplicationActionEventPageModePeriodSummaryEmbeddedId">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:embeddable />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="created_date" type="xsd:date" />
			<xsd:element name="page" type="xsd:string" />
			<xsd:element name="page_mode" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ViewApplicationActionEventPageModeHourlySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_modes_hourly_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageModePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ViewApplicationActionEventPageModeDailySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_modes_daily_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageModePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageModeWeeklySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_modes_weekly_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageModePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType name="ViewApplicationActionEventPageModeAnnualSummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_modes_annual_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageModePeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>


	<xsd:complexType
		name="ApplicationActionEventPageElementPeriodSummaryEmbeddedId">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:embeddable />
			</xsd:appinfo>
		</xsd:annotation>
		<xsd:sequence>
			<xsd:element name="created_date" type="xsd:date" />
			<xsd:element name="page" type="xsd:string" />
			<xsd:element name="element_id" type="xsd:string" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageElementHourlySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_element_hourly_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageElementPeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageElementDailySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_element_daily_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageElementPeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageElementWeeklySummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_element_weekly_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageElementPeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>

	<xsd:complexType name="ViewApplicationActionEventPageElementAnnualSummary">
		<xsd:annotation>
			<xsd:appinfo>
				<hj:entity>
					<orm:table name="view_application_action_event_page_element_annual_summary" />

				</hj:entity>
			</xsd:appinfo>
		</xsd:annotation>

		<xsd:sequence>
			<xsd:element name="embeddedId"
				type="data:ApplicationActionEventPageElementPeriodSummaryEmbeddedId">
				<xsd:annotation>
					<xsd:appinfo>
						<hj:embedded-id />
					</xsd:appinfo>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="hits" type="xsd:long" />
			<xsd:element name="rank" type="xsd:long" />
			<xsd:element name="rank_percentage" type="xsd:decimal" />
		</xsd:sequence>
	</xsd:complexType>



</xsd:schema>

